<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">Rais Project</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="<%= "active" if controller_name == "admin" && controller.action_name == "index" %>"><%= link_to "Home", admin_root_path %></li>
					<li class="<%= "active" if controller_name == "users" %>"><%= link_to "Users", admin_users_path %></li>
					<li class="<%= "active" if controller_name == "roles" %>"><%= link_to "Roles", admin_roles_path %></li>
				</ul>
				<p class="navbar-text pull-right">Logged in as <%= link_to current_user.email, destroy_user_session_path, confirm: 'Log out?', method: :delete %></p>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>