<%= form_for [:admin, @role] do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div>
    <%= f.label :parent %><br />
    <%= f.select :parent_id, @roles.map { |role|
      if role.nil?
        ["", ""]
      else
        [role.name, role.id]
      end
    }, :include_blank => true
    %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
